*{
    margin: 0;
    padding: 0;
}
header {
	width: 1920px;
    height: 70px;
    background-color: black;
    
}
ul{
    float: left;
}
li{
    float: left;
    list-style-type: none;
    padding: 25px;
    color: gray;
}
li:hover{
    color: white;
}
#genesis_logo{
    float: left;
    margin: 22px 50px;
    width: 129px;
    height: 25px;
}