*{
    margin: 0;
    padding: 0;
}
header {
	width: 1517px;
    height: 72px;
    background-color: black;
    
}
ul{
    float: left;
}
li{
    float: left;
    list-style-type: none;
    padding: 25px;
    color: gray;
}
li:hover{
    color: white;
}
#genesis_logo{
    float: left;
    margin: 22px 50px;
    width: 129px;
    height: 25px;
}
#page{
    float: right;
    color: gray;
    list-style-type: none;
}
#page:hover{
    color: white;
}
i{
    left: 50px;
}
img{
    width: 1517px;
    height: 670px;
}
h2,p{
    color: white;
}
body{
    background-color: black;
}
#G901{
    border: 1px;
    border-color: white ;
}
#G901:hover{
    background-color: white;
    color: black;
}
#G902{
    border: 1px;
    border-color: white ;
}
#G902:hover{
    background-color: white;
    color: black;
}
#G903{
    border: 1px;
    border-color: white ;
}
#G903:hover{
    background-color: white;
    color: black;
}

